In [1]:
# Dependencies
import openweathermapy.core as owm
import pandas as pd

#api_key
from mydata import OpenWeather_api_key

In [2]:
# Create settings dictionary with information we're interested in
settings = {"units": "metric", "appid": OpenWeather_api_key}

In [3]:
# read data
df = pd.read_csv('Resources/cities.csv', header=None)
cities = df[0]

In [4]:
# generate empty lists
temp = []
lat = []
long = []

In [5]:
# using API wrapper, get data put into lists
for city in cities:
    response = owm.get_current(city, **settings)
    temp.append(response['main']['temp'])
    lat.append(response['coord']['lat'])
    long.append(response['coord']['lon'])

In [6]:
# generate data frame
city_dic = {
    'cities': cities,
    'temperature': temp,
    'latitude': lat,
    'longitude': long
}

city_df = pd.DataFrame(city_dic)

In [7]:
city_df = city_df.set_index('cities')
del city_df.index.name

In [8]:
city_df = city_df[['temperature', 'latitude', 'longitude']]
city_df

             temperature  latitude  longitude
Paris               7.23     48.86       2.35
London              2.27     51.51      -0.13
Oslo               -6.00     59.91      10.74
Beijing             9.00     39.91     116.39
Moscow              2.59     46.73    -117.00
Vladivostok        -6.00     43.12     131.89
Osaka               9.00     34.70     135.50
Honolulu           22.99     21.30    -157.86
Montevideo          3.91     44.94     -95.72
Erbil              14.00     36.19      44.01